<%- include('partials/header') %>


  <header>
    <nav>
      <ul>
        <li><a href="/login" class="login">
            Login
          </a></li>
        <li><a href="/register" class="register">
            Register
          </a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <h1>Secret</h1>
      <p>Don't keep your secrets, share them anonymously!</p>
      <a href="/login">
        <button class="start-sharing">
          Share Your Secret
        </button>
      </a>
    </section>
  </main>

  <%- include('partials/footer') %>