<%- include('partials/header') %>

  <header>
    <nav>
      <ul>
        <% if(isAuthenticated){ %>
          <li><a href="/logout" class="register">
              Logout
            </a></li>
          <% }else{ %>
            <li><a href="/login" class="login"></a>
              Login
              </a></li>
            <li><a href="/register" class="register">
                Register
              </a></li>
            <% } %>
      </ul>
    </nav>
  </header>

  <div class="reveal-secret">
    <div class="container">
      <h1>You've Discovered Secrets!</h1>
      <% userWithSecrets.forEach((user)=> {%>
        <p class="secret-text">
          <%= user.secret %>
        </p>
        <% }) %>

          <hr>
          <div class="action-buttons">
            <a href="/submit" class="submit-button">Submit a Secret</a>
          </div>
    </div>
  </div>

  <%- include('partials/footer') %>